# VS Code config
.vscode/

# PlatformIO build system
.pio/
.pioenvs/
.piocache/

# Archivos de logs o dependencias
*.elf
*.bin
*.hex
*.exe
*.d
*.o
*.a

# Archivos del sistema (windows, macOS, linux)
.DS_Store
Thumbs.db

# Archivos de configuración personal
*.swp
*.swo
*.user
*.code-workspace

